/* || GENERAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  background-color:gainsboro;
  color: #4b4b4b
}

header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  height: 100 px;
  border-bottom: dotted 1px #4b4b4b;
  padding: 1rem;
}